{% extends "new_base.html" %}

{% block head_title %}
{% block head_title_extended %}
{% endblock %}
{% endblock %}

{% block body_content %}
<div class="clear"></div>
<div class="spacer"></div>
<!--bodyarea starts-->
<div class="bodyarea">
  <div class="breadcrumb"><a href="#">Home</a> &raquo; <a href="#">Products</a> &raquo; <a class="breadcrumb_active" href="#">Details</a></div>
  <div class="content-2col">
    <div class="sidebar">
      <div class="widget">
        <h3 class="widget-title">Content Title </h3>
        <ul>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
        </ul>
      </div>
      <div class="widget">
        <h3 class="widget-title">Content Title</h3>
        <p>Lorem ipsum dolor sit amet, eos amet munere eu, eu amet complectitur qui, veri maluisset eu cum. Vim prima bonorum adipiscing eu, fabulas commune mediocritatem mei an. Cu vitae everti pro. Ad nonumes sensibus pro. Rebum interpretaris ut mel, odio qualisque incorrupte duo ea.</p>
      </div>
      <div class="widget">
        <h3 class="widget-title">Content Title </h3>
        <ul>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
          <li>Lorem ipsum is dummy text</li>
        </ul>
      </div>
    </div>
    <div class="content-right">
      {% block extendedcontent %}
      {% endblock %}
    </div>
  </div>
</div>
<!--bodyarea ends-->
<div class="clear"></div>
<!--footer starts here-->
<div class="footer">
  <div class="copyright">Copyright&copy; All Rights Reserved.</div>
  <div class="footer_link"><a href="#">Home</a> <a href="#">About</a> <a href="#">Products</a> <a href="#">Services</a> <a href="#">Contact</a> </div>
</div>
<!--footer ends here-->
{% endblock %}
