{% extends "base.html" %}

{% block head_title %}Bored Shopper{% endblock %}

{% block body_content %}
<div class="clear"></div>
<div class="spacer"></div>
<!--bodyarea starts-->
<div class="bodyarea">
  <div class="breadcrumb"><a href="#">Home</a> &raquo; <a href="#">Products</a> &raquo; <a class="breadcrumb_active" href="#">Details</a></div>
  <!--product starts-->
  <div class="product">
    <div class="product_frame">
      <div class="product_display"><img src="{{ STATIC_URL }}images/product.jpg" /></div>
      <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}images/thumb1.jpg" /></a></div>
      <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}images/thumb2.jpg" /></a></div>
      <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}images/thumb3.jpg" /></a></div>
      <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}images/thumb4.jpg" /></a></div>
      <div class="thumb"><a href="#"><img src="{{ STATIC_URL }}images/thumb5.jpg" /></a></div>
    </div>
  </div>
  <!--product ends-->
  <div class="product_details">
    <h1>MICHAEL Michael Kors<br />
      Top Zip Tote (Black) Bags and Luggage</h1>
    <div class="line"></div>
    <div class="price"><strong>Price:</strong> $<span>299</span>.00</div>
    <div class="des">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
    </div>
    <div class="thum"> <a href="#" class="thumb-up"></a> <a href="#" class="thumb-down"></a> </div>
    <div class="caption"><strong>Brand:</strong> <span>MICHAEL Michael Kors</span></div>
    <div class="clear"></div>
    <div class="caption"><strong>Color:</strong> </div>
    <div class="color1"></div>
    <div class="color2"></div>
    <div class="color3"></div>
    <div class="color4"></div>
    <div class="clear"></div>
    <div class="size">Size: <img src="{{ STATIC_URL }}images/xs.jpg" align="absmiddle" /> <img src="{{ STATIC_URL }}images/small.jpg" align="absmiddle" /> <img src="{{ STATIC_URL }}images/medium.jpg" align="absmiddle"/> <img src="{{ STATIC_URL }}images/large.jpg" align="absmiddle" /> </div>
    <div class="clear"></div>
    <div class="buy_btn"><a href="#" class="btn btn-orange">BUY AT ZAPPOS</a></div>
  </div>
  <!--product detail ends here-->
  <div class="clear"></div>
  <div class="line2"></div>
  <div class="heading">
    <h2>You may also like...</h2>
  </div>
  <div class="product_box"><a href="#" title="" > <img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="clear"></div>
  <div class="line2"></div>
  <div class="heading">
    <h2>Recently Viewed</h2>
  </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
  <div class="product_box"><a href="#" title="" ><img src="{{ STATIC_URL }}images/pro1.jpg" /><br />
    <div class="product_name">Stringed<br />
      Bracelet<br />
      <span>$18</span></div>
    </a> </div>
</div>
<!--bodyarea ends-->
<div class="clear"></div>
<!--footer starts here-->
<div class="footer">
  <div class="copyright">Copyright&copy; All Rights Reserved.</div>
  <div class="footer_link"><a href="#">Home</a> <a href="#">About</a> <a href="#">Products</a> <a href="#">Services</a> <a href="#">Contact</a> </div>
</div>
<!--footer ends here-->
{% endblock %}